# Server
PORT=3000
NODE_ENV=development

# Redis
REDIS_URL=redis://localhost:6379
REDIS_CONNECT_TIMEOUT=5000

# Rate Limiter
# Algorithm: 'tokenBucket' | 'slidingWindow'
RATE_LIMIT_ALGORITHM=tokenBucket

# Token Bucket defaults
TB_CAPACITY=100
TB_REFILL_RATE=0.0278

# Sliding Window defaults
SW_WINDOW_SIZE=3600
SW_REQUEST_LIMIT=100
